{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendar edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-warning" type="submit" value="Update" />
    {{ form_end(edit_form) }}

    <a class="btn btn-primary" href="{{ path('admin_calendar_index') }}">Back to the list</a>
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
