{% extends 'base.html.twig' %}
{% block title %}Server Edit{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Server edit</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-warning" type="submit" value="Update" />
        {{ form_end(edit_form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary" href="{{ path('admin_server_index') }}">Back to the list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
