{% extends 'base.html.twig' %}
{% block title %}Server Edit{% endblock %}
{% block body %}
    <div class="container">
        <h1>Server edit</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-warning" type="submit" value="Update" />
        {{ form_end(edit_form) }}

        <a class="btn btn-primary" href="{{ path('admin_server_index') }}">Back to the list</a>
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
