{% extends "::base.html.twig" %}
{% block title %}Howe - Calendar{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Calendar</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="jquery_ui_datepicker"></div>
        </div>
        <input type="hidden" value="{{ arrival_time }}" id="arrival_time">
        <input type="hidden" value="{{ add_time }}" id="additional_time">
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/calendar.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/PersonalCalendar.js') }}"></script>
    <script>
        let time_parts = $('#arrival_time').val().split(':');
        let arrival = new Date(0, 0, 0, parseInt(time_parts[0], 0), parseInt(time_parts[1], 0), 0);
        TimeSheet.init(arrival, parseFloat($('#additional_time').val()));
        let base_title = $(document).prop('title');

        var current = new Date();
        var currentpos = current.getMonth();
        $(function () {
            $.ajax({
                url: '{{ baseUrl }}calendar?format=byDate',
                method: 'GET',
                dataType: 'json',
                async: true,
                cache: false,
                timeout: 30 * 1000,
                success: function (data, status) {
                    PersonalCalendar.init(data);
                    $(".jquery_ui_datepicker").datepicker({
                        defaultDate: null,
                        firstDay: 1, // Set Monday to the first day of the week
                        numberOfMonths: [4, 3], //display a full calendar year
                        showCurrentAtPos: currentpos, // set the current month to the correct position
                        showMonthAfterYear: true,
                        beforeShowDay: function (currentDate) {
                            return PersonalCalendar.parseDate(currentDate);
                        }
                    });
                }
            });
            displayTime();
            setInterval('displayTime()', 1000);
        });

        /**
         * Display the time in the clock id
         */
        function displayTime() {
            let display_data = TimeSheet.getDisplayValue();
            let display_hour = display_data.display_hour;
            let work_time;
            if (display_hour !== '') {
                work_time = display_hour.toString();
                $(document).prop('title', base_title + ' (' + work_time + ')');
            }
        }
    </script>
{% endblock %}