{% extends "::base.html.twig" %}
{% block title %}Howe - Status{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="serverGroup"></div>
            <!-- /.panel -->
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <i class="fa fa-clock-o fa-fw"></i> Clock
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <h1 class="text-center"><span id="time" class="label label-default"></span></h1>
                    </div>
                    <div class="progress">
                        <div id="dayclock" class="active progress-bar-striped progress-bar" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%
                        </div>
                    </div>
                    <div class="progress">
                        <div id="weekclock" class="active progress-bar-striped progress-bar" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%
                        </div>
                    </div>
                    <div class="progress">
                        <div id="monthclock" class="active progress-bar-striped progress-bar" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%
                        </div>
                    </div>
                    <div class="progress">
                        <div id="quarterclock" class="active progress-bar-striped progress-bar" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%
                        </div>
                    </div>
                    <div class="progress">
                        <div id="yearclock" class="active progress-bar-striped progress-bar" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">0%
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <input type="hidden" value="{{ arrival_time }}" id="arrival_time">
        <input type="hidden" value="{{ add_time }}" id="additional_time">
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <i class="fa fa-calendar fa-fw"></i> Calendar
                    </div>
                </div>
                <div class="panel-body">
                    <div class="jquery_ui_datepicker_preview"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="UpcomingInfo"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <i class="fa fa-cloud fa-fw reset_weather"></i> Weather
                    </div>
                </div>
                <div class="panel-body">
                    <div class="weather"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="PtoTaken"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <i class="fa fa-subway fa-fw reset_mbta"></i> <a href="https://cdn.mbta.com/sites/default/files/route_pdfs/2021-winter/2020-2021-cr-franklin-reduced-accessible.pdf" target="_blank">MBTA</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="mbta"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/calendar.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/ServerInfo.js') }}"></script>
    <script src="{{ asset('assets/js/ClockClass.js') }}"></script>
    <script src="{{ asset('assets/js/PersonalCalendar.js') }}"></script>
    <script src="{{ asset('assets/js/WeatherInfo.js') }}"></script>
    <script src="{{ asset('assets/js/Mbta.js') }}"></script>
    <script src="{{ asset('assets/js/UpcomingInfo.js') }}"></script>
    <script src="{{ asset('assets/js/PtoTaken.js') }}"></script>
    <script>
        let time_parts = $('#arrival_time').val().split(':');
        let arrival = new Date(0, 0, 0, parseInt(time_parts[0], 0), parseInt(time_parts[1], 0), 0);
        TimeSheet.init(arrival, parseFloat($('#additional_time').val()));
        let base_title = $(document).prop('title');
        let postal_code = '01757';
        $(function () {
            updateTime();
            setInterval('updateTime()', 1000);
            displayTime();
            setInterval('displayTime()', 1000);
            $('.weather').WeatherInfo({baseUrl: "{{ baseUrl }}", postalCode: postal_code});
            $('.mbta').Mbta({baseUrl: "{{ baseUrl }}"});
            $('.UpcomingInfo').UpcomingInfo({baseUrl: "{{ baseUrl }}"});
            $(".PtoTaken").PtoTaken({baseUrl: "{{ baseUrl }}"});
            $('.serverGroup').ServerGroup({baseUrl: "{{ baseUrl }}"});
            $.ajax({
                url: 'api/calendar?format=byDate',
                method: 'GET',
                dataType: 'json',
                async: true,
                cache: false,
                timeout: 30 * 1000,
                success: function (data, status) {
                    PersonalCalendar.init(data);
                    $(".jquery_ui_datepicker_preview").datepicker({
                        defaultDate: null,
                        firstDay: 1, // Set Monday to the first day of the week
                        numberOfMonths: [1, 2], //display a full calendar year
                        showCurrentAtPos: 0, // set the current month to the center position
                        showMonthAfterYear: true,
                        beforeShowDay: function (currentDate) {
                            return PersonalCalendar.parseDate(currentDate);
                        }
                    });
                }
            });
            $('body')
                .on('click', '.reset_mbta', () => {
                    performReset("{{ baseUrl }}api/mbta/reset");
                })
                .on('click', '.reset_weather', () => {
                    performReset("{{ baseUrl }}api/weather/" + postal_code + "/reset");
                });
        });

        /**
         * Display the time in the clock id
         */
        function displayTime() {
            let display_data = TimeSheet.getDisplayValue();
            let display_hour = display_data.display_hour;
            let work_time;
            if (display_hour !== '') {
                work_time = display_hour.toString();
                $(document).prop('title', base_title + ' (' + work_time + ')');
            }
        }

        /**
         * Update the time progress bars on the page.  This function will be triggered every second
         */
        function updateTime() {

            $("#time").html(Clock.currentTimeString());

            Clock.dayStart = (TimeSheet.getStartTime().getHours() + (TimeSheet.getStartTime().getMinutes() / 60)) - TimeSheet.offset;
            Clock.dayEnd = TimeSheet.getEighthHourTime().getHours() + TimeSheet.getEighthHourTime().getMinutes() / 60;

            updatePercentage($('#dayclock'), Clock.displayPercent(Clock.dayPercent() * 100), 'Day');
            updatePercentage($('#weekclock'), Clock.displayPercent(Clock.weekPercent() * 100), 'Week');
            updatePercentage($('#monthclock'), Clock.displayPercent(Clock.monthPercent() * 100), 'Month');
            updatePercentage($('#quarterclock'), Clock.displayPercent(Clock.quarterPercent() * 100), 'Quarter:' + Clock.quarter());
            updatePercentage($('#yearclock'), Clock.displayPercent(Clock.yearPercent() * 100), Clock.year());
        }

        /**
         * Update the passed element percent information to the passed value
         *
         * @param element
         * @param percentage
         * @param name
         */
        function updatePercentage(element, percentage, name) {
            var current_percentage = $(element).data('percentage');
            /* properly initialize the element's percentage value if missing */
            if (typeof current_percentage === 'undefined') {
                current_percentage = 0;
                $(element).data('percentage', current_percentage);
            }
            /* skip updating if the percentage is the same, very common on Month, Quarter, Year bars */
            if (current_percentage !== percentage) {
                $(element).html(percentage + '% of ' + name + ' Complete').css('width', percentage + '%').attr('aria-valuenow', percentage);
                $(element).data('percentage', percentage);
                if (percentage === 0) { // Reset the visual display if statusboard is left on overnight
                    $(element).addClass('active progress-bar-striped').removeClass('progress-bar-danger');
                }
                if (percentage >= 93.8) {
                    $(element).addClass('progress-bar-warning');
                }
                if (percentage === 100) {
                    $(element).removeClass('active progress-bar-striped progress-bar-warning').addClass('progress-bar-danger');
                }
            }

        }

        function performReset(endpoint) {
            $.ajax({
                url: endpoint,
                method: 'GET',
                dataType: 'json',
                async: true,
                cache: false,
                timeout: 10 * 1000,
                success: function (data, status) {
                    if (status === 'timeout') {
                        alert('Time out!');
                    }
                    if (status === 'nocontent') {
                        alert('No Content');
                    }
                    alert(data);
                },
                error: function (xhr, status) {
                    if (status === 'timeout') {
                        alert('Time out!');
                    }
                    if (status === 'nocontent') {
                        alert('No Content');
                    }
                    alert('failed to clear cache');
                }
            });
        }

    </script>
{% endblock %}